@mode 'Flat';

* {
  font-family: 'SansSerif';
  font-fill: #000000;
  label-anchor: 0.5 0.5;
  halo-radius: 1;
  halo-opacity: 1;
  halo-color: #ffffff;
  sort-by: population D;
  -gt-label-priority: [population];
  -gt-label-padding: 20;
  -gt-label-auto-wrap: 100;

  [capital = 'yes' and name is not null][@scale < 10M] {
    [@scale > 1M] {
      shield: symbol(circle);
      shield-size: 4;
      :shield { stroke: #525252; stroke-width: 1.5; };
      shield-anchor: 0.5 0.5;
      label-anchor: 0.5 1.1;
      label-offset: 0 -5;
      shield-placement: independent;
    };
    label: [name];
    font-size: [interpolate(env('wms_scale_denominator', 10M), 400k, 14, 10M, 10)];
    label-priority: [2740 + population / 10000];
  };

  [capital = '4' and name is not null][@scale < 8M] {
    label: [name];
    font-size: [interpolate(env('wms_scale_denominator', 8M), 400k, 14, 10M, 10)];
    label-priority: [1000 + population / 10000];
  };

  [capital = '6' and name is not null][@scale < 4M] {
    label: [name];
    font-size: [interpolate(env('wms_scale_denominator', 4M), 400k, 12, 4M, 14)];
    label-priority: [500 + population / 10000];
  };

  [capital = '' and type in ('city', 'town') and name is not null][@scale < 250k] {
    label: [name];
    font-size: categorize(@sd, 15, 50k, 14,	400k, 10);
    label-priority: [100 + population / 10000];

  };
}