@mode 'Flat';

[@sd < 100M][@sd > 250k] {
  label: [strToUpperCase(NAME_ENGL)];
  font-family: 'SansSerif';
  font-size: [interpolate(env('wms_scale_denominator', 100000000), 250000, 14, 800000, 14, 100000000, 10)];
  font-weight: bold;
  label-anchor: 0.5 1.5;
  halo-radius: [interpolate(env('wms_scale_denominator', 100000000), 800000, 1, 100000000, 0.75)];
  halo-color: #000000;
  halo-opacity: 0.9;
  font-fill: #ffffff;
  font-fill-opacity: 1;
  label-group: true;
  -gt-label-padding: 7;
  -gt-label-auto-wrap: 70;
  label-priority: [POP];
  sort-by: POP;
}