<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- <bean name="templateDirLoader" class="org.geoserver.gs.mapstoreconfig.TestTemplateDirLoader" />

	<bean id="mapstoreProcess" class="org.geoserver.gs.mapstoreconfig.MapstoreConfigProcess">
		<property name="templateDirLoader" ref="templateDirLoader" />
	</bean> -->
</beans>