<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="templateDirLoader" class="org.geoserver.gs.mapstoreconfig.GeoserverTemplateDirLoader">
		<property name="loader" ref="resourceLoader" />
	</bean>
	
	<bean id="mapstoreConfigProcess" class="org.geoserver.gs.mapstoreconfig.MapstoreConfigProcess">
		<property name="templateDirLoader" ref="templateDirLoader" />
	</bean>
	
	
</beans>